<div class="home">
    <!--NAVBAR-->    
    <app-header (keyup)="searchMovie($event)"></app-header>
    <!--MOVIES CONTENT-->

    <ng-container *ngIf="moviesFound && moviesFound.length === 0 else movie">
        <h5>NO SE ENCONTRO RESULTADOS</h5>
    </ng-container>
    <ng-template #movie>
        <div class="movies row g-0">
            <div class="card__grid col-sm-6 col-md-6 col-lg-4 col-xl-3"
                *ngFor="let item of moviesFound ? moviesFound : movies">
                <div class="card">
                    <img src="{{item.imageUrl}}" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{item.title}}</h5>
                        <p class="card-text"><strong>Description: </strong>{{item.description}}.</p>
                        <p class="card-text"><strong>Duration: </strong>{{item.duration}}</p>

                    </div>
                    <div class="card-footer bg-transparent">
                        <button type="button" class="btn btn-primary" routerLink="/movie/update/{{item.id}}"><i
                                class="fas fa-pen"></i> Edit
                        </button>
                        <button type="button" class="btn btn-danger" (click)="deleteMovie(item.id)"><i
                                class="fas fa-trash"></i> Delete </button>
                    </div>
                </div>
            </div>
        </div>

    </ng-template>

    <!--MODAL-->



</div>
<!--FOOTER-->