.home{
    min-height: 100vh;
    background-color: var(--bg-color);
}

.card{    
    width: 280px;
    height: 100%;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
    transition: transform 300ms ease-in;
    cursor: pointer;
    border-radius: 0.5rem;
    border: none;
    color: var(--text-color);
    background-color: var(--bgCardInput-color);
}
.card:hover{
    transform: scale(1.05);
}
.card__grid{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.card > img{
    border-radius: 0.5rem 0.5rem 0 0;
    object-fit: contain;
    object-position: center center;
    height: 180px;
    width: 100%;
}

.card-footer{
    display: flex;
    justify-content: end; 
    &> .btn{
        margin-left: 10px;
    }
}
